*{
  padding:0px;
  margin: 0px;
  font-family: sans-serif;
}
:root {
  --app-bg: #101827;
  --sidebar: rgb(47, 58, 78);
  --sidebar-main-color: #fff;
  --table-border: #1a2131;
  --table-header: #1a2131;
  --app-content-main-color: #fff;
  --sidebar-link: #fff;
  --sidebar-active-link: #1d283c;
  --sidebar-hover-link: #1a2539;
  --action-color: #2869ff;
  --action-color-hover: #6291fd;
  --app-content-secondary-color: #1d283c;
  --filter-reset: #2c394f;
  --filter-shadow: rgba(16, 24, 39, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.light:root {
  --app-bg: #fff;
  --sidebar: #f3f6fd;
  --app-content-secondary-color: #f3f6fd;
  --app-content-main-color: #1f1c2e;
  --sidebar-link: #1f1c2e;
  --sidebar-hover-link: rgba(195, 207, 244, 0.5);
  --sidebar-active-link: rgba(195, 207, 244, 1);
  --sidebar-main-color: #1f1c2e;
  --filter-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@page {
  size: 8*5;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  font-weight: thin;
  background: black;
}
body:after{
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  width: 200%;
  height: 200%;
  background: url('https://i.pinimg.com/736x/f1/2e/2a/f12e2a1c7e8393322f71358a79139436--jedi-sith-episode-vii.jpg');
  background-size: contain;
  background-position: 600px -200px;
  filter: blur(30px);
}
.error-message span{
  color: #000;
}
.btn .bx {
  vertical-align: inherit;
  margin-top: -3px;
  font-size: 1.15rem;
}
input[type="search"]{
  padding:22px;
  border-radius: 10px;
}
.form-control {
  height: calc(2.5rem + 2px);
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn {
  font-size: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.message-eroor span {
  color: #000;
}
.bx.icon-single {
  font-size: 1.5rem;
  border-radius: 10px;
}

.form-inline .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-search{
  background: #000;
  height: 46px;
  border-radius: 10px;

}

.form-inline .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
} 
.active{
  border-radius: 10px;
}
.nav-item a{
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}
.nav-item a:hover{
  color: red;

}
/* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {
  .form-inline .form-control {
    width: 600px;
  
  }
}


section {
  height: 60vh;
  background: #e4e4e4;
  margin-bottom: 10%;
  position: relative;
  z-index: -1;
}

/* search bar__________________________________ */
.search-bar {
  position: relative;
  z-index: 2;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}



.material-symbols-outlined {
  font-size: 30px;
  cursor: pointer;
  color: white;

}
/* card detail_________________________________ */

.card-detail{
  width: 100%;
  height: 500px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  background-color: #0000007a !important;
  box-shadow: -5px 5px 10px rgba(0,0,0,0.7),
              5px 5px 10px rgba(0,0,0,0.7);
  margin-bottom: 10px;
}
.card-body-detail p{
  margin: 0;
  padding: 0;
}
.card-thumbnail{
  position: relative;
  width: 300px;
  overflow: hidden;


}

.card-thumbnail img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-body-detail{
  width: 400px;
  padding: 1rem 0rem 0rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 12px;
  color: #bdb8b8;
}

.card-title-detail{
  color: #e8e8e8;
  font-size: 25px;
  width: 200%;
}
.card-description{
  width: 240%;
  height: 10vh;
}
.stars{
  margin-top: -10px;
}

p span{
  margin-right: 10px;
}

.stars i{
  margin-right: 5px;
}

.card-description{
  text-align: justify;
}


/* footer___________________________________________________ */
.card{
  background-color: #00000000 !important;
  position: relative !important;
  color: white !important;
  overflow: hidden !important;
}

p{
  font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important; 
  display: fkex;
}

h3{
  font-size: calc(24px + (30 - 24) * ((100vw - 360px) / (1600 - 360))) !important; 
}

.social{
  font-size: 21px !important; 
}


.color-text{
  color:#757575 !important;
}


footer{
  color:#caced1 !important;
  width: 99% !important;
}

li{
   margin-top: 20px ;
   margin-bottom: 20px ;
}

.Careers{ 
  cursor: pointer;
  color: #1E88E5;
}

.row-1{
  background-color:#1E242A !important;
}

.row-2{
  
  background-color: #28323C !important;
}




.container-fluid {
  height: auto;
  padding: 0px 65px 0px 60px;
}


/* sing in form _---------------------------------- */
.btn-danger{
  width: 100%;
}


.w-450 {
width: 500px;
border-radius: 10px;
background: rgb(10, 5, 5);
padding: 30px;
}
.vh-100 {
min-height: 100vh;
}

.contain-cienma{
background:#DC2026;
height: 40vh;
border-radius: 10px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} 

.w-20{
width: 15%;
}
.contain-btn{
margin-top: 10%;

}

.container-nav{
background: #000;
}


/* banner slid shows__---------------------------------------------- */
.wrapframe {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.slideshow {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
}
.slideshow--hero {
  z-index: 3;
  left: 0;
  top: 50%;
  height: 85%;
  transform: translateY(-50%) skewY(-10deg);
  transform-origin: center;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}
.slideshow--hero .mainslides {
  position: absolute;
  left: 0;
  top: -10%;
  width: 100vw;
  height: 100vh;
  animation: 11s slideshow-hero-mobile -3s infinite;
}
.slideshow--hero .slide1 {
  background-image: url(https://i.pinimg.com/originals/b7/33/e5/b733e5362da54dfac49e576bd709d25e.jpg);
  animation: 50s slides-set-1 -0.1s infinite;
}
.slideshow--hero .slide2 {
  background-image: url(https://wallpapercave.com/wp/wp11380163.png);
  animation: 20s slides-set-2 -0.1s infinite;
}
.slideshow--hero .slide3 {
  /* 3 */
  background-image: url(https://i.pinimg.com/originals/34/7c/b3/347cb373a02440f609cef082475ffd89.jpg);
  animation: 20s slides-set-3 -0.1s infinite;
}
@media (min-width: 600px) {
  .slideshow--hero {
    left: 50%;
    top: 0;
    width: 67%;
    height: 100%;
    transform: translateX(-50%) skewX(-10deg);
  }
  .slideshow--hero .mainslides {
    top: 0;
    left: -25%;
    height: 100%;
    animation: 11s slideshow-hero -3s infinite;
  }
}
.slideshow--contrast {
  z-index: 1;
  width: 100%;
  height: 50%;
  transform: none;
}
.slideshow--contrast--before {
  left: 0;
}
.slideshow--contrast--before .secondslides {
  width: 100vw;
}
.slideshow--contrast--after {
  z-index: 2;
  left: auto;
  right: 0;
}
.slideshow--contrast--after .thirdslides {
  width: 100%;
  left: auto;
  right: 0;
}
.slideshow--contrast .slides {
  animation: 14s slideshow-contrast -5s infinite;
}
.slideshow--contrast .slide1 {
  background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(https://i.pinimg.com/originals/b7/33/e5/b733e5362da54dfac49e576bd709d25e.jpg);
  animation: 20s slides-set-1 -0.2s infinite;
}
.slideshow--contrast .slide2 {
  background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(https://wallpapercave.com/wp/wp11380163.png);
  animation: 20s slides-set-2 -0.2s infinite;
}
.slideshow--contrast .slide3 {
  animation: 20s slides-set-3 -0.2s infinite;
  background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(https://i.pinimg.com/originals/34/7c/b3/347cb373a02440f609cef082475ffd89.jpg);
}
.slideshow--contrast--after {
  top: auto;
  bottom: 0;
}
.slideshow--contrast--after .thridslides {
  animation: 13s slideshow-contrast -13s infinite;
}
.slideshow--contrast--after .slide {
  background-position: right;
}
.slideshow--contrast--after .slide1 {
  animation: 20s slides-set-1 infinite;
}
.slideshow--contrast--after .slide2 {
  animation: 20s slides-set-2 infinite;
}
.slideshow--contrast--after .slide3 {
  animation: 20s slides-set-3 infinite;
}
@media (min-width: 600px) {
  .slideshow--contrast {
    width: 50%;
    height: 100%;
  }
  .slideshow--contrast--after {
    top: 0;
    bottom: auto;
  }
  .slideshow--contrast--after .thirdslides {
    width: 50vw;
  }
}

.mainslides,
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes slideshow-hero-mobile {
  0% {
    transform: scale(1) skewY(10deg);
  }
  50% {
    transform: scale(1.05) skewY(10deg);
  }
  100% {
    transform: scale(1) skewY(10deg);
  }
}
@keyframes slideshow-hero {
  0% {
    transform: scale(1) skewX(10deg);
  }
  50% {
    transform: scale(1.05) skewX(10deg);
  }
  100% {
    transform: scale(1) skewX(10deg);
  }
}
@keyframes slideshow-contrast {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@keyframes slides-set-1 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  31% {
    opacity: 1;
    transform: scale(1);
  }
  34% {
    opacity: 0;
    transform: scale(1.05);
  }
  97% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slides-set-2 {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  31% {
    opacity: 0;
    transform: scale(1.05);
  }
  34% {
    opacity: 1;
    transform: scale(1);
  }
  64% {
    opacity: 1;
    transform: scale(1);
  }
  67% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 0;
    transform: scale(1.05);
  }
}
@keyframes slides-set-3 {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  64% {
    opacity: 0;
    transform: scale(1.05);
  }
  67% {
    opacity: 1;
    transform: scale(1);
  }
  97% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.05);
  }
 
}
.input {
  display: flex;
  align-items: center;
}
.sign i {
  margin-left: -30px;
  cursor: pointer;
  color: black;
}
/*# sourceMappingURL=sty.css.map */




/* card movie _____________________________________________ */

.container-movecards{
  display: flex;
  /* margin-left: 1.5%; */
  flex-wrap: wrap;
  gap: 10px;
  padding: 1.5%;
  justify-content: center;
}

.movie-cards {
  transform: translate(-0%, -0%); 
  width: 209px;
  height: 310px !important;
  background: #000;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  border-radius:4px; 
}


.movie-cards .poster:before {
  content: "";
  position: absolute;
  bottom: -140px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(1deg, #000 40%, transparent);
  transition: 0.5s;
  z-index: 1;
 
}

.movie-cards:hover .poster:before {
  bottom: 0;
}

.movie-cards .poster img {
  width: 100%;
  transition: 0.5s;
}

.movie-cards:hover .poster img {
  filter: blur(0.1px);
  transform: translateY(-50px);
}

.details {
  position: absolute;
  padding: 20px;
  width: 100%;
  bottom: -200px;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}

.movie-cards:hover .details {
  bottom: 0;
}

.details h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.details h2 span {
  font-size: 14px;
  color: orange;
}



.rating span {
  color: #fff;
  padding: 0 5px;
}

.tags {
  position: relative;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tags span {
  padding: 8px 8px;
  margin-right: 2px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
}

.tags span.fantasy {
  background: mediumpurple;
  margin-bottom: 10px;
}

.tags span.mystery {
  background: mediumturquoise;
}





/* _____________________________________________________________ */


/* seller page */


.app-container {
  border-radius: 4px;
  width: 100%;
  max-width: 1280px;
  display: flex;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 2000px;
  margin: 0 auto;
}

.sidebar {
  flex-basis: 200px;
  max-width: 200px;
  flex-shrink: 0;
  background-color: var(--sidebar);
  display: flex;
  flex-direction: column;
  /* padding-top: 30px; */
}
.header{
  background-color: var(--sidebar);
  /* align-items: center; */
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  /* background-color: var(--sidebar); */
}
.sidebar-list {
  list-style-type: none;
  padding: 0;
}
.sidebar-list-item {
  position: relative;
  margin-bottom: 4px;
}
.sidebar-list-item a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 16px;
  color: var(--sidebar-link);
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}
.sidebar-list-item svg {
  margin-right: 8px;
}
.sidebar-list-item:hover {
  background-color: var(--sidebar-hover-link);
}
.sidebar-list-item.active {
  background-color: var(--sidebar-active-link);
}
.sidebar-list-item.active:before {
  content: "";
  position: absolute;
  right: 0;
  background-color: var(--action-color);
  height: 100%;
  width: 4px;
}



.app-icon {
  color: var(--sidebar-main-color);
}
.app-icon svg {
  width: 24px;
  height: 24px;
}

.app-content {
  background-color: var(--app-bg);
  flex: 3;
  display: flex;
  flex-direction: column;
  /* background: #e00808; */
}
.app-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
}
.app-content-headerText {
  color: var(--app-content-main-color);
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}


/* card movie */
.container-movecards{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 14px;
}
.movie-cards {
  transform: translate(-0%, -0%); 
  width: 210px;
  height: 370px;
  background: #000;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  border-radius:4px; 
}


.movie-cards .poster:before {
  content: "";
  position: absolute;
  bottom: -140px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(1deg, #000 40%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.movie-cards:hover .poster:before {
  bottom: 0;
}

.movie-cards .poster img {
  width: 100%;
  transition: 0.5s;
}

.movie-cards:hover .poster img {
  filter: blur(0.1px);
  transform: translateY(-50px);
}

.details {
  position: absolute;
  padding: 20px;
  width: 100%;
  bottom: -200px;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}

.movie-cards:hover .details {
  bottom: 0;
}

.details h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.details h2 span {
  font-size: 14px;
  color: orange;
}



.rating span {
  color: #fff;
  padding: 0 5px;
}

.tags {
  position: relative;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tags span {
  padding: 8px 8px;
  margin-right: 2px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
}

.tags span.fantasy {
  background: mediumpurple;
  margin-bottom: 10px;
}

.tags span.mystery {
  background: mediumturquoise;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title span {
  color: orange;
} 
.text{
  font-size: 50px; 
  background-size: cover;
  height: 40vh;
  background-image: linear-gradient(to bottom, rgba(94, 75, 75, 0.25) 0, rgba(79, 24, 24, 0.5) 100%), url(https://images.squarespace-cdn.com/content/v1/5d9e9960ff34916b5d5216f9/1571505099912-YO87A1KITSDEPW2PDF2N/theater-rental-banner.jpg?format=2500w);
}
.text h1{
  font-size: 100px;
  font-weight: bold;
} 
.head_contact form{
  display: flex;
  flex: 2;

}
.head_contact form .address{
  flex: 0.9;

}
.head_contact form .inform{
  flex: 1.1;

}

 /* booking page____________________________________________________ */

.seat-container{
  justify-content: center;
  /* background-color: #fff; */
  display: flex;
  padding: 50px 0px 50px 50px;
  /* background-color: var(--sidebar); */
  background-color: var(--app-bg);
}
.container-form-seat{
  width: 50%;
  background-color: var(--sidebar);
}
.info-form{
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  /* background-color: #fff; */
}
/* .seat-container{
} */
.theatre {
  margin: 20px auto;
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
  background-color: var(--app-bg);
  padding: 20px 30px;
}
.error{
  color:var(--app-bg) ;
}
.screen-side {
  text-align: center;
}
.screen-side .screen {
  height: 25px;
  margin: 0 20px;
  border-radius: 50%;
  box-shadow: 0px -3px 0px 1px #ccc;
  color: #ccc;
}
.screen-side .select-text {
  color: #969696;
}
.exit {
  position: relative;
  height: 50px;
}
.exit:before, .exit:after {
  content: "EXIT";
  font-size: 14px;
  line-height: 18px;
  padding: 0px 5px;
  font-family: "Arial Narrow", Arial, sans-serif;
  display: block;
  position: absolute;
  background: #da202f;
  color: white;
  top: 50%;
  transform: translate(0, -50%);
}
.exit:before {
  left: 0;
}
.exit:after {
  right: 0;
}
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cinema-seat {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  /* background: #000; */
  padding: 0px;
  margin-bottom: -3rem;
  /* background: #c84848; */

}
.seat {
  display: flex;
  flex: 0 0 9%;
  padding: 5px;
  position: relative;

}
/* devide seat 6 culumn */
.seat:nth-child(5) {
  margin-right: 12.28571%;
}
.seat input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
.seat input[type="checkbox"]:checked + label {
  /* background: #bada55; */
  background: #0810a8;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat input[type="checkbox"]:disabled + label {
  background: #ddd;
  text-indent: -9999px;
  overflow: hidden;
}
.seat input[type="checkbox"]:disabled + label:after {
  content: "X";
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.seat input[type="checkbox"]:disabled + label:hover {
  box-shadow: none;
  cursor: not-allowed;
}
.seat label {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5rem;
  padding: 4px 0;
  color: #fff;
  background: #c90a2a;
  border-radius: 2px;
  animation-duration: 300ms;
  animation-fill-mode: both;
  transition-duration: 300ms;
}
.seat label:hover {
  cursor: pointer;
  box-shadow: 0px 0 7px 3px #ccc;
}
@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}
/* Payment */
#subscribe{background:#ddd;padding:15px 30px 15px 30px;margin:10px;border:none;cursor:pointer;border-radius:10px;}


.payment-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #000000b7;
  
}
 .payment-form{
  position: fixed;
  top: 6%;
  left: 30%;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); 
  overflow: hidden;
  color: rgba(0, 0, 0, 0.63);
}
.payment-container{
  display: none;
}



/* -----------------ticket-------------------------------------- */
.ticket {
	margin: auto;
	display: flex;
	background: white;
  margin-top: 20px;
  width: 75%;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.ticket-left {
	display: flex;
  width: 75%;
  align-items: center;

}

.ticket-left .ticket-number {
	height: 250px;
	width: 360px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 5px;
  
}

.ticket-info {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
  background: #af5c5c;
}



.show-name {
	font-size: 32px;
	font-family: "Nanum Pen Script", cursive;
	color: #d83565;
}

.show-name h1 {
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #4a437e;
}

.date-time, .seat-number {
	padding: 10px 0;
	color: #4a437e;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-weight: 700;
}

.right {
	width: 280px;
	border-left: 1px dashed #404040;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.delete{
  display: flex;
  align-items: center;
}