/* navbar style */
/* @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap'); */
body{
  height: auto;
  /* background:#7E1616; */
}
.btn .bx {
  vertical-align: inherit;
  margin-top: -3px;
  font-size: 1.15rem;
}
input[type="search"]{
  padding:22px;
  border-radius: 10px;
}
.form-control {
  height: calc(2.5rem + 2px);
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn {
  font-size: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.bx.icon-single {
  font-size: 1.5rem;
  border-radius: 10px;
}

.form-inline .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-success{
  background: #000;
  height: 46px;
  border-radius: 10px;
}

.form-inline .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
} 
.active{
  border-radius: 10px;
}

/* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {
  .form-inline .form-control {
    width: 600px;
  
  }
}


section {
  height: 60vh;
  background: #e4e4e4;
  margin-bottom: 10%;
}

/* search bar */
.search-bar {
  position: relative;
  z-index: 2;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}



.material-symbols-outlined {
  font-size: 30px;
  cursor: pointer;

}





/* footer */
.card{
  background-color: #F8F9FB !important;
}

p{
  font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important; 
  display: fkex;
}

h3{
  font-size: calc(24px + (30 - 24) * ((100vw - 360px) / (1600 - 360))) !important; 
}

.social{
  font-size: 21px !important; 
}


.color-text{
  color:#757575 !important;
}


footer{
  color:#caced1 !important;
}

li{
   margin-top: 20px ;
   margin-bottom: 20px ;
}

.Careers{ 
  cursor: pointer;
  color: #1E88E5;
}

.row-1{
  background-color:#1E242A !important;
}

.row-2{
  
  background-color: #28323C !important;
}

/* footer */

.icon,.icon1{
display: flex;
align-items: center;
}
.mg{
background: rgb(238, 232, 232);
border-radius: 10px;
box-shadow: 10px 10px 10px rgba(255, 255, 255, 0);
padding: 30px;
}




/* card style */
.card{
  /* background: #000; */
  height: 70vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.container-card{
gap: 23px;
}
.container-fluid {
  height: auto;
  padding: 0px 65px 0px 60px;
  /* background:#7E1616; */
  /* background: rgb(2, 78, 78); */
  

}

.w-100px{
  margin-top: 0;
  background: rgb(37, 36, 36);
}


.bg-img{
  display: flex;
  align-items: center;
}
/* sing in form  */
.btn-danger{
  width: 100%;
}


.w-450 {
width: 500px;
border-radius: 10px;
background: rgb(10, 5, 5);
padding: 30px;
}
.vh-100 {
min-height: 100vh;
}

.contain-cienma{
/* background:#DC2026; */
height: 40vh;
border-radius: 10px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} 

.w-20{
width: 15%;
}
.contain-btn{
margin-top: 10%;

}

.container-nav{
background: #000;
}











/* banner slid shows */
.wrapframe {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.slideshow {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
}
.slideshow--hero {
  z-index: 3;
  left: 0;
  top: 50%;
  height: 85%;
  transform: translateY(-50%) skewY(-10deg);
  transform-origin: center;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}
.slideshow--hero .mainslides {
  position: absolute;
  left: 0;
  top: -10%;
  width: 100vw;
  height: 100vh;
  animation: 11s slideshow-hero-mobile -3s infinite;
}
.slideshow--hero .slide1 {
  background-image: url(https://www.bollywoodhungama.com/wp-content/uploads/2022/10/Black-Adam-English-1.jpg);
  animation: 50s slides-set-1 -0.1s infinite;
}
.slideshow--hero .slide2 {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQk1qwaReS8ZujKoA7lFz4vK2NByZTjb1L0Ow&usqp=CAU);
  animation: 20s slides-set-2 -0.1s infinite;
}
.slideshow--hero .slide3 {
  background-image: url(https://www.themarysue.com/wp-content/uploads/2018/09/Dragon-Ball-Z-03152018.jpg?resize=1200%2C674);
  animation: 20s slides-set-3 -0.1s infinite;
}
@media (min-width: 600px) {
  .slideshow--hero {
    left: 50%;
    top: 0;
    width: 67%;
    height: 100%;
    transform: translateX(-50%) skewX(-10deg);
  }
  .slideshow--hero .mainslides {
    top: 0;
    left: -25%;
    height: 100%;
    animation: 11s slideshow-hero -3s infinite;
  }
}
.slideshow--contrast {
  z-index: 1;
  width: 100%;
  height: 50%;
  transform: none;
}
.slideshow--contrast--before {
  left: 0;
}
.slideshow--contrast--before .secondslides {
  width: 100vw;
}
.slideshow--contrast--after {
  z-index: 2;
  left: auto;
  right: 0;
}
.slideshow--contrast--after .thirdslides {
  width: 100vw;
  left: auto;
  right: 0;
}
.slideshow--contrast .slides {
  animation: 14s slideshow-contrast -5s infinite;
}
.slideshow--contrast .slide1 {
  background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRXwCsabuxjlyD7nV6qL_IAE0pQhgo5FGQduqI1NxFypSnIpwLi);
  animation: 20s slides-set-1 -0.2s infinite;
}
.slideshow--contrast .slide2 {
  background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR6Wuc0Uju6DOBzRElUnNqNW8SdFiNluxRO3pgeZ6oKeWTDyvLG);
  animation: 20s slides-set-2 -0.2s infinite;
}
.slideshow--contrast .slide3 {
  background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTYe9MOC4OCV8tJuYy4qpcet9cKM2ZIpyMc3WS1WS-psE7cXfwd);
  animation: 20s slides-set-3 -0.2s infinite;
}
.slideshow--contrast--after {
  top: auto;
  bottom: 0;
}
.slideshow--contrast--after .thridslides {
  animation: 13s slideshow-contrast -13s infinite;
}
.slideshow--contrast--after .slide {
  background-position: right;
}
.slideshow--contrast--after .slide1 {
  animation: 20s slides-set-1 infinite;
}
.slideshow--contrast--after .slide2 {
  animation: 20s slides-set-2 infinite;
}
.slideshow--contrast--after .slide3 {
  animation: 20s slides-set-3 infinite;
}
@media (min-width: 600px) {
  .slideshow--contrast {
    width: 50%;
    height: 100%;
  }
  .slideshow--contrast--after {
    top: 0;
    bottom: auto;
  }
  .slideshow--contrast--after .thirdslides {
    width: 50vw;
  }
}

.mainslides,
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes slideshow-hero-mobile {
  0% {
    transform: scale(1) skewY(10deg);
  }
  50% {
    transform: scale(1.05) skewY(10deg);
  }
  100% {
    transform: scale(1) skewY(10deg);
  }
}
@keyframes slideshow-hero {
  0% {
    transform: scale(1) skewX(10deg);
  }
  50% {
    transform: scale(1.05) skewX(10deg);
  }
  100% {
    transform: scale(1) skewX(10deg);
  }
}
@keyframes slideshow-contrast {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@keyframes slides-set-1 {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  31% {
    opacity: 1;
    transform: scale(1);
  }
  34% {
    opacity: 0;
    transform: scale(1.05);
  }
  97% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slides-set-2 {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  31% {
    opacity: 0;
    transform: scale(1.05);
  }
  34% {
    opacity: 1;
    transform: scale(1);
  }
  64% {
    opacity: 1;
    transform: scale(1);
  }
  67% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 0;
    transform: scale(1.05);
  }
}
@keyframes slides-set-3 {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  64% {
    opacity: 0;
    transform: scale(1.05);
  }
  67% {
    opacity: 1;
    transform: scale(1);
  }
  97% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.05);
  }
}/*# sourceMappingURL=sty.css.map */
